*,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



.header{
  width: 100vw;
  padding-left: 20px;

  background-color: gray;
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.hero{
 
  


font-family: Poppins;
font-style: normal;
font-weight: normal;
height: 90vh;
display: flex;
justify-content: center;
align-items: center;
font-size: 60px;


/* identical to box height */



}
.am-venkatesh-header{


font-family: Poppins;
font-style: normal;
font-weight: normal;

/* identical to box height */


color: #000000;

}
.am-fullstackdev-header{
  font-family: Poppins;
font-style: normal;
font-weight: normal;

/* identical to box height */


color: #000000;

}
.sub-div-header{
  display: flex;
  justify-items: center;
  flex-direction: column;
  text-align: center;

}
.download-resume-head{



font-family: Poppins;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 60px;
text-align: center;

color: #FFFFFF;
background: linear-gradient(117.54deg, #FF4848 39.33%, #F80E0E 108.49%);
box-shadow: 4px 4px 31px rgba(0, 0, 0, 0.66);
border-radius: 19px;

}